body{
	font-family: Tahoma, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	
	}
h2{
	width: 88%;
	color:#405d60;
	text-shadow:1px 1px #f8fefe;
	-webkit-text-shadow:1px 1px #f8fefe;
	-moz-text-shadow:1px 1px #f8fefe;
	-ms-text-shadow:1px 1px #f8fefe;
	-o-text-shadow:1px 1px #f8fefe;
	font-size:16px;
	padding:8px 8px 8px 12px;
	border:solid 1px #7eacb1;
	
	background: rgb(222,242,243); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2RlZjJmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiN2Q4ZGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(222,242,243,1) 1%, rgba(183,216,220,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(222,242,243,1)), color-stop(100%,rgba(183,216,220,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(222,242,243,1) 1%,rgba(183,216,220,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(222,242,243,1) 1%,rgba(183,216,220,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(222,242,243,1) 1%,rgba(183,216,220,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(222,242,243,1) 1%,rgba(183,216,220,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#def2f3', endColorstr='#b7d8dc',GradientType=0 ); /* IE6-8 */

	margin-bottom:10px;
	}
h3{
	font-size:16px;
	margin: 20px 20px 10px 1px;
	color:#153033;
	}
.login-win{
	width:715px;
	height:400px;
	margin:0 auto;
	margin-top:10%;

	}
.login-footer{
	width:711px;
	height:42px;
	font-size:12px;
	color:#405d60;
	text-shadow:1px 1px #f8fefe;
	-webkit-text-shadow:1px 1px #f8fefe;
	-moz-text-shadow:1px 1px #f8fefe;
	-ms-text-shadow:1px 1px #f8fefe;
	-o-text-shadow:1px 1px #f8fefe;
	text-align:center;
	padding-top:13px;
	background:url(../images/login-footer.png) left top no-repeat;
	}
.login-body{
	height:325px;
	background:url(../images/login-back.png) left top repeat-y;
	}
.login-head{
	background:url(../images/login-head.png) left bottom no-repeat;
	width:711px;
	height:24px;
	}
.login-win h2{
	text-align:center;
	font-size:16px;
	background:url(../images/Login.png) left bottom no-repeat;
   /* height: 22px;*/
    margin-bottom: 20px;
    padding-left: 27px;
    text-align: left;
    border:none;
	}
.login-body-img{
	height:325px;
	margin: 0 auto;
    width: 680px;
	background:url(../images/login-back-img.jpg) bottom right no-repeat;
	}	
.login-win label{
	width:100px;
	display:block;
	}
.login-win td{
	padding:2px;
	}
.login-win a {
	color:#5EA01A;
	text-decoration:none;
	}
.login-win a:hover {
	text-decoration:underline;
	color:#345909
	}
.dxeEditArea {
	border-radius:2px;
	}
.txt-center{
	text-align:center;
	}
.txt-left{
	text-align:left;
	}
.txt-right{
	text-align:right;
	}
.flt-l{
	float:left;
	}
.flt-r{
	float:right;
	margin-top:13px;
		}
.w355{
	width:355px;
	}
/**********************  common classes  *********************/
.small-btn{
	width:100px;
	}
	
/**********************  header classes  *********************/
.header{
	margin-bottom:10px;
	height:80px;
	background: rgb(146,195,229); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkyYzNlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MGIwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(146,195,229,1) 0%, rgba(112,176,224,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(146,195,229,1)), color-stop(100%,rgba(112,176,224,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(146,195,229,1) 0%,rgba(112,176,224,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(146,195,229,1) 0%,rgba(112,176,224,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(146,195,229,1) 0%,rgba(112,176,224,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(146,195,229,1) 0%,rgba(112,176,224,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92c3e5', endColorstr='#70b0e0',GradientType=0 ); /* IE6-8 */
	}
.welcomeMsg{
	float:right;
	height:30px;
	width:295px;
	margin-top:9px;
	}
.welcomeMsg p{
	text-align:left;
	display:block;
	width:75px;
	float:left;
		color:#286A96;
		text-shadow:1px 1px #A9D5F2;
		-webkit-text-shadow:1px 1px #A9D5F2;
		-moz-text-shadow:1px 1px #A9D5F2;
		-ms-text-shadow:1px 1px #A9D5F2;
		-o-text-shadow:1px 1px #A9D5F2;	
	}
.welcomeMsg p a{
	color:#375468;
	padding-left:10px;
		text-decoration:none;
}
.welcomeMsg p a:hover{
	color:#000;
	}
.welcomeMsg span{
	text-align:left;
		float:left;
		color:#286A96;
		text-shadow:1px 1px #A9D5F2;
		-webkit-text-shadow:1px 1px #A9D5F2;
		-moz-text-shadow:1px 1px #A9D5F2;
		-ms-text-shadow:1px 1px #A9D5F2;
		-o-text-shadow:1px 1px #A9D5F2;		
	}
.welcomeMsg .logoutBtn{
	width: 75px;
	float: right;
	margin-right: 30px;	
}
#lbLogout{
	text-shadow:none;
 background: url("/DXR.axd?r=0_1042-XLyD7") repeat-x scroll left top #FFFFFF;
    border-style: none;
    color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-ms-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
    display: block;
    height: 15px;
    margin: 1px 0 3px 22px;
    padding: 5px;
    text-align: center;
	}
#lbLogout:hover{
	color:#9FDDF9;
}
.footer{
	margin-top:30px;
	padding:30px 10px 5px 10px;
	height:80px;
	color:#407296;
	text-shadow:1px 1px #B7DBF4;
	background: rgb(146,195,229); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkyYzNlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MGIwZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(146,195,229,1) 0%, rgba(112,176,224,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(146,195,229,1)), color-stop(100%,rgba(112,176,224,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(146,195,229,1) 0%,rgba(112,176,224,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(146,195,229,1) 0%,rgba(112,176,224,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(146,195,229,1) 0%,rgba(112,176,224,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(146,195,229,1) 0%,rgba(112,176,224,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#92c3e5', endColorstr='#70b0e0',GradientType=0 ); /* IE6-8 */

	}
.nav{
	border:solid 1px #7EACB1;
border-radius:10px 10px 10px 10px;
	-webkit-border-radius:10px 10px 10px 10px;
	-moz-border-radius:10px 10px 10px 10px;
	-ms-border-radius:10px 10px 10px 10px;
	-o-border-radius:10px 10px 10px 10px;
background: rgb(222,242,243); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2RlZjJmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiN2Q4ZGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(222,242,243,1) 1%, rgba(183,216,220,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(222,242,243,1)), color-stop(100%,rgba(183,216,220,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(222,242,243,1) 1%,rgba(183,216,220,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(222,242,243,1) 1%,rgba(183,216,220,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(222,242,243,1) 1%,rgba(183,216,220,1) 100%); /* IE10+ */
/*background: linear-gradient(to bottom,  rgba(222,242,243,1) 1%,rgba(183,216,220,1) 100%); /* W3C */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 1%,rgba(255,255,255,1) 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#def2f3', endColorstr='#b7d8dc',GradientType=0 ); /* IE6-8 */

    float: left;
    margin: 50px 10px 10px 220px;
    padding-left: 60px;
    position: absolute;
    width: 688px;
	}

/*************************************************************/
.wrapper{
	width:1000px;
	margin:0 auto;

	}
	
	.wrapper-switchboard{
	width:900px;
	margin:0 auto;

	}
.wrapper-inner{
	width:900px;
}
.wrapper-inner h2{
	width:97.5%;
}
.page-wrapper{
	width:90%;
	min-height:600px;
	margin:0 auto;
	overflow:hidden;
	padding:20px;
	border:solid 1px #ddd;
	border-radius:10px 10px 10px 10px;
	-webkit-border-radius:10px 10px 10px 10px;
	-moz-border-radius:10px 10px 10px 10px;
	-ms-border-radius:10px 10px 10px 10px;
	-o-border-radius:10px 10px 10px 10px;
	background: rgb(205,238,244); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NkZWVmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjZGJmMGYxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTclIiBzdG9wLWNvbG9yPSIjZThmZmY2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  rgba(205,238,244,1) 0%, rgba(219,240,241,1) 5%, rgba(232,255,246,1) 17%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,238,244,1)), color-stop(5%,rgba(219,240,241,1)), color-stop(17%,rgba(232,255,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(205,238,244,1) 0%,rgba(219,240,241,1) 5%,rgba(232,255,246,1) 17%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(205,238,244,1) 0%,rgba(219,240,241,1) 5%,rgba(232,255,246,1) 17%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(205,238,244,1) 0%,rgba(219,240,241,1) 5%,rgba(232,255,246,1) 17%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(205,238,244,1) 0%,rgba(219,240,241,1) 5%,rgba(232,255,246,0.35) 17%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeef4', endColorstr='#e8fff6',GradientType=0 ); /* IE6-8 */

	}	
.hotel-logo{
	float:left;
	width:133px;
	height:77px;
	padding-top:10px;
	border:1px;
	border-color:Blue;
	}
.customers-tbl .customer-btn{
	float:left;
	width:52px;

	}
/******* error  *****/
.error{
	background:url(../images/error.jpg) left top no-repeat;
	display:block;
	height:`14px;
	padding-left:20px;;
	color:#F00;
	padding-bottom: 3px;
	}
	

.header2{
	margin-bottom:10px;
	height:95px;
	background:url(../images/header-back.png)#EEF5F7 left top no-repeat;
   /* background-color:#EEF5F7;*/
   border-bottom:solid 1px #E0E0E0;
}
	
.footer2
{
    margin-top:30px;
	padding:30px 10px 5px 10px;
	height:80px;
	color:#407296;
    background-color:#EEF5F7;
}	

.noborder
{
    border:none;
}
#ContentPlaceHolder1_gvCustomers_DXMainTable, #ContentPlaceHolder1_gvUsers{
	width:900px !important;
	}
.w875{
	width:875px;
}

#MainMenu img,.dxmSubMenuItemWithImage_Glass img{
	width:16px;
	height:16px;
	}
.dxWeb_mHorizontalPopOut_Glass {
    background-position: -92px -50px;
    height: 7px !important;
    width: 7px !important;
}
.dxmMenuItemDropDownButton_Glass, .dxmMenuLargeItemDropDownButton_Glass, .dxmMenuRtlItemDropDownButton_Glass, .dxmMenuLargeRtlItemDropDownButton_Glass{
	padding-top:12px;
	}
	
.dxgvCommandColumnItem_Glass {
    padding: 5px 10px 0;
    width: 19px;
}
/*
#gvBedTypes_col0{
	width: 126px;
	}*/
	
	.reqfield {
	color:red;
	font-weight:bold;
	vertical-align:middle;
	padding-left:5px;
	}
	
/* Customer styles */
.customers-tbl{
	width: 871px;
	float: left;
	margin-top: 20px;
	margin-left: 29px;
}
.customers-tbl td{
	vertical-align:top;
	padding-bottom:5px;
}

.customers-tbl td .dxbebt td.dx{
	padding-top:6px;
	padding-bottom:0px;
}
.info-lbl {
width: 150px;
}
#ContentPlaceHolder1_btnSave_CD, #ContentPlaceHolder1_btnClear_CD{
	height:20px;
}
#customer-info-btn-tbl{margin-top:10px;}
#customer-info-btn-tbl td{
	padding-right:10px;
}
#ContentPlaceHolder1_btnSave_BTC span, #ContentPlaceHolder1_btnClear_BTC span{
	float:left;
	margin-top:5px;
	font-weight:bold;	
}
/* Users section styles */

.user-tbl{
	width:871px;
	float:left;
	margin-top:4px;
	margin-left:13px;
}
.user-tbl td{
	vertical-align:top;
	padding-bottom:5px;
}
.user-tbl td td#ContentPlaceHolder1_btnSave_B, .user-tbl td td#ContentPlaceHolder1_btnSave_B #ContentPlaceHolder1_btnSave_BTC{
	padding:0px;
}

.user-tbl td  div#ContentPlaceHolder1_btnSave_CD{
	height:26px;
}
.user-tbl #ContentPlaceHolder1_btnSave_BTC span{
	float:left;
	margin-top:7px;
	font-weight:bold;	
}
.user-tbl td .dxbebt td.dx{
	padding-top:6px;
	padding-bottom:0px;
}
.user-tbl td #ContentPlaceHolder1_btnSave_CD img{
	margin-top:2px;
}

.dxgvDataRow_Glass td.dxgv, .dxgvSelectedRow_Glass td.dxgv{
	padding:5px 6px 5px 6px;
	vertical-align:middle;
}
#ContentPlaceHolder1_gvRoles_DXMainTable td{
	text-align:left;
}
.role-tbl{
	width:871px;
	float:left;
	margin-top:4px;
	margin-left:13px;
}
.role-tbl td{
	vertical-align:top;
}
.role-tbl td td#ContentPlaceHolder1_btnSave_B{
	padding-bottom:5px;
}
.role-search-tbl{
	width:310px;
	float:left;
	margin-top:4px;
	margin-left:13px;
}
.role-search-tbl td{
	vertical-align:top;
	padding-bottom:5px;
}

/* Administration styles */
.company-info-tbl{
	width: 871px;
	float: left;
	margin-top: 20px;
	margin-left: 13px;
}
.company-info-tbl td{
	vertical-align:top;
	padding-bottom:5px;
}

.company-info-tbl td .dxbebt td.dx{
	padding-top:6px;
	padding-bottom:0px;
}
.company-info-tbl td input{
	width:192px;
}
.company-info-tbl td#ContentPlaceHolder1_ASPxButton1_B{
	padding-bottom:0px;
}
.wrapper-switchboard h2{
	width:97%;
}
td.dxeSBC{
	vertical-align:middle;
}
.rooms-info-tbl{
	width: 871px;
	float: left;
	margin-top: 20px;
	margin-left: 13px;
}
.rooms-info-tbl td{
	vertical-align:top;
}

.rooms-info-tbl td .dxbebt td.dx{
	padding-top:3px;
	padding-bottom:0px;
}