.dxEditors_edtError_HBMTheme,
.dxEditors_edtCalendarPrevYear_HBMTheme,
.dxEditors_edtCalendarPrevYearDisabled_HBMTheme,
.dxEditors_edtCalendarPrevMonth_HBMTheme,
.dxEditors_edtCalendarPrevMonthDisabled_HBMTheme,
.dxEditors_edtCalendarNextMonth_HBMTheme,
.dxEditors_edtCalendarNextMonthDisabled_HBMTheme,
.dxEditors_edtCalendarNextYear_HBMTheme,
.dxEditors_edtCalendarNextYearDisabled_HBMTheme,
.dxEditors_edtCalendarFNPrevYear_HBMTheme,
.dxEditors_edtCalendarFNNextYear_HBMTheme,
.dxEditors_edtRadioButtonChecked_HBMTheme,
.dxEditors_edtRadioButtonUnchecked_HBMTheme,
.dxEditors_edtRadioButtonCheckedDisabled_HBMTheme,
.dxEditors_edtRadioButtonUncheckedDisabled_HBMTheme,
.dxEditors_edtEllipsis_HBMTheme,
.dxEditors_edtEllipsisDisabled_HBMTheme,
.dxEditors_edtDropDown_HBMTheme,
.dxEditors_edtDropDownDisabled_HBMTheme,
.dxEditors_edtDETSClockFace_HBMTheme,
.dxEditors_edtDETSHourHand_HBMTheme,
.dxEditors_edtDETSMinuteHand_HBMTheme,
.dxEditors_edtDETSSecondHand_HBMTheme,
.dxEditors_edtSpinEditIncrementImage_HBMTheme,
.dxEditors_edtSpinEditIncrementImageDisabled_HBMTheme,
.dxEditors_edtSpinEditDecrementImage_HBMTheme,
.dxEditors_edtSpinEditDecrementImageDisabled_HBMTheme,
.dxEditors_edtSpinEditLargeIncImage_HBMTheme,
.dxEditors_edtSpinEditLargeIncImageDisabled_HBMTheme,
.dxEditors_edtSpinEditLargeDecImage_HBMTheme,
.dxEditors_edtSpinEditLargeDecImageDisabled_HBMTheme,
.dxEditors_fcadd_HBMTheme,
.dxEditors_fcaddhot_HBMTheme,
.dxEditors_fcremove_HBMTheme,
.dxEditors_fcremovehot_HBMTheme,
.dxEditors_fcgroupaddcondition_HBMTheme,
.dxEditors_fcgroupaddgroup_HBMTheme,
.dxEditors_fcgroupremove_HBMTheme,
.dxEditors_fcopany_HBMTheme,
.dxEditors_fcopbegin_HBMTheme,
.dxEditors_fcopbetween_HBMTheme,
.dxEditors_fcopcontain_HBMTheme,
.dxEditors_fcopnotcontain_HBMTheme,
.dxEditors_fcopnotequal_HBMTheme,
.dxEditors_fcopend_HBMTheme,
.dxEditors_fcopequal_HBMTheme,
.dxEditors_fcopgreater_HBMTheme,
.dxEditors_fcopgreaterorequal_HBMTheme,
.dxEditors_fcopnotblank_HBMTheme,
.dxEditors_fcopblank_HBMTheme,
.dxEditors_fcopless_HBMTheme,
.dxEditors_fcoplessorequal_HBMTheme,
.dxEditors_fcoplike_HBMTheme,
.dxEditors_fcopnotany_HBMTheme,
.dxEditors_fcopnotbetween_HBMTheme,
.dxEditors_fcopnotlike_HBMTheme,
.dxEditors_fcgroupand_HBMTheme,
.dxEditors_fcgroupor_HBMTheme,
.dxEditors_fcgroupnotand_HBMTheme,
.dxEditors_fcgroupnotor_HBMTheme,
.dxEditors_caRefresh_HBMTheme,
.dxEditors_edtTBDecBtn_HBMTheme,
.dxEditors_edtTBIncBtn_HBMTheme,
.dxEditors_edtTBMainDH_HBMTheme,
.dxEditors_edtTBSecondaryDH_HBMTheme,
.dxEditors_edtTBIncBtnDisabled_HBMTheme,
.dxEditors_edtTBDecBtnDisabled_HBMTheme,
.dxEditors_edtTBMainDHDisabled_HBMTheme,
.dxEditors_edtTBSecondaryDHDisabled_HBMTheme
{
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
}

/* TrackBar */
.dxEditors_edtTBDecBtn_HBMTheme, .dxEditors_edtTBIncBtn_HBMTheme,
.dxEditors_edtTBDecBtnHover_HBMTheme, .dxEditors_edtTBIncBtnHover_HBMTheme,
.dxEditors_edtTBDecBtnPressed_HBMTheme, .dxEditors_edtTBIncBtnPressed_HBMTheme,
.dxEditors_edtTBDecBtnDisabled_HBMTheme, .dxEditors_edtTBIncBtnDisabled_HBMTheme
{
	width: 17px;
	height: 17px;
}

.dxeTBHSys .dxEditors_edtTBMainDH_HBMTheme, .dxeTBHSys .dxEditors_edtTBSecondaryDH_HBMTheme,
.dxeTBHSys .dxEditors_edtTBMainDHHover_HBMTheme, .dxeTBHSys .dxEditors_edtTBSecondaryDHHover_HBMTheme,
.dxeTBHSys .dxEditors_edtTBMainDHPressed_HBMTheme, .dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_HBMTheme,
.dxeTBHSys .dxEditors_edtTBMainDHDisabled_HBMTheme, .dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_HBMTheme
{
	width:13px;
	height:19px;
}
.dxeTBVSys .dxEditors_edtTBMainDH_HBMTheme, .dxeTBVSys .dxEditors_edtTBSecondaryDH_HBMTheme,
.dxeTBVSys .dxEditors_edtTBMainDHHover_HBMTheme, .dxeTBVSys .dxEditors_edtTBSecondaryDHHover_HBMTheme,
.dxeTBVSys .dxEditors_edtTBMainDHPressed_HBMTheme, .dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_HBMTheme,
.dxeTBVSys .dxEditors_edtTBMainDHDisabled_HBMTheme, .dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_HBMTheme
{
	width:19px;
	height:13px;
}

.dxEditors_edtTBDecBtn_HBMTheme 
{
	background-position: -0px -149px;
}
.dxEditors_edtTBDecBtnHover_HBMTheme
{
	background-position: -42px -149px;
}
.dxEditors_edtTBDecBtnPressed_HBMTheme
{
	background-position: -84px -149px;
}
.dxEditors_edtTBDecBtnDisabled_HBMTheme
{
	background-position: -126px -149px;
}

.dxEditors_edtTBIncBtn_HBMTheme
{
	background-position: -21px -149px;
}
.dxEditors_edtTBIncBtnHover_HBMTheme
{
	background-position: -63px -149px;
}
.dxEditors_edtTBIncBtnPressed_HBMTheme
{ 
	background-position: -105px -149px;
}
.dxEditors_edtTBIncBtnDisabled_HBMTheme
{ 
	background-position: -147px -149px;
}

.dxeTBHSys .dxEditors_edtTBMainDH_HBMTheme, 
.dxeTBHSys .dxEditors_edtTBSecondaryDH_HBMTheme
{
	background-position: -16px -124px;
}
.dxeTBHSys .dxEditors_edtTBMainDHHover_HBMTheme,
.dxeTBHSys .dxEditors_edtTBSecondaryDHHover_HBMTheme
{
	background-position: -29px -124px;
}

.dxeTBHSys .dxEditors_edtTBMainDHDisabled_HBMTheme,
.dxeTBHSys .dxEditors_edtTBSecondaryDHDisabled_HBMTheme
{
	background-position: -55px -124px;
}
.dxeTBVSys .dxEditors_edtTBMainDH_HBMTheme,
.dxeTBVSys .dxEditors_edtTBSecondaryDH_HBMTheme
{
	background-position: -112px -124px;
}

.dxeTBVSys .dxEditors_edtTBMainDHHover_HBMTheme,
.dxeTBVSys .dxEditors_edtTBSecondaryDHHover_HBMTheme
{
	background-position: -112px -137px;
}

.dxeTBVSys .dxEditors_edtTBMainDHPressed_HBMTheme,
.dxeTBVSys .dxEditors_edtTBSecondaryDHPressed_HBMTheme
{
	background-position: -132px -124px;
	z-index: 7;
}
.dxeTBHSys .dxEditors_edtTBMainDHPressed_HBMTheme,
.dxeTBHSys .dxEditors_edtTBSecondaryDHPressed_HBMTheme
{
	background-position: -42px -124px;
	z-index: 7;
}
.dxeTBVSys .dxEditors_edtTBMainDHDisabled_HBMTheme, 
.dxeTBVSys .dxEditors_edtTBSecondaryDHDisabled_HBMTheme
{
	background-position: -132px -137px;
}

.dxeFocused_HBMTheme .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_HBMTheme, 
.dxeFocused_HBMTheme .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_HBMTheme
{
	background-position: -152px -124px;
}
.dxeFocused_HBMTheme .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_HBMTheme,
.dxeFocused_HBMTheme .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_HBMTheme
{
	background-position: -152px -137px;
}
.dxeFocused_HBMTheme .dxeTBVSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_HBMTheme,
.dxeFocused_HBMTheme .dxeTBVSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_HBMTheme
{
	background-position: -173px -124px;
}
.dxeFocused_HBMTheme .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDH_HBMTheme,
.dxeFocused_HBMTheme .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDH_HBMTheme
{
	background-position: -68px -124px;
}
.dxeFocused_HBMTheme .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHHover_HBMTheme,
.dxeFocused_HBMTheme .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHHover_HBMTheme
{
	background-position: -82px -124px;
}
.dxeFocused_HBMTheme .dxeTBHSys .dxeFocusedMDHSys .dxEditors_edtTBMainDHPressed_HBMTheme,
.dxeFocused_HBMTheme .dxeTBHSys .dxeFocusedSDHSys .dxEditors_edtTBSecondaryDHPressed_HBMTheme
{
	background-position: -97px -124px;
}

/* RadioButton */
.dxEditors_edtRadioButtonChecked_HBMTheme,
.dxEditors_edtRadioButtonUnchecked_HBMTheme,
.dxEditors_edtRadioButtonCheckedDisabled_HBMTheme,
.dxEditors_edtRadioButtonUncheckedDisabled_HBMTheme {
	width: 15px;
    height: 15px;
}
.dxEditors_edtRadioButtonUnchecked_HBMTheme {
    background-position: 0px -40px;
}
.dxEditors_edtRadioButtonChecked_HBMTheme {
    background-position: -15px -40px;
}
.dxEditors_edtRadioButtonUncheckedDisabled_HBMTheme {
    background-position: -30px -40px;
}
.dxEditors_edtRadioButtonCheckedDisabled_HBMTheme {
    background-position: -45px -40px;
}

.dxEditors_edtError_HBMTheme,
.dxEditors_edtCalendarPrevYear_HBMTheme,
.dxEditors_edtCalendarPrevYearDisabled_HBMTheme,
.dxEditors_edtCalendarPrevMonth_HBMTheme,
.dxEditors_edtCalendarPrevMonthDisabled_HBMTheme,
.dxEditors_edtCalendarNextMonth_HBMTheme,
.dxEditors_edtCalendarNextMonthDisabled_HBMTheme,
.dxEditors_edtCalendarNextYear_HBMTheme,
.dxEditors_edtCalendarNextYearDisabled_HBMTheme,
.dxEditors_edtCalendarFNPrevYear_HBMTheme,
.dxEditors_edtCalendarFNNextYear_HBMTheme,
.dxEditors_edtEllipsis_HBMTheme,
.dxEditors_edtEllipsisDisabled_HBMTheme,
.dxEditors_edtDropDown_HBMTheme,
.dxEditors_edtDropDownDisabled_HBMTheme,
.dxEditors_edtSpinEditIncrementImage_HBMTheme,
.dxEditors_edtSpinEditIncrementImageDisabled_HBMTheme,
.dxEditors_edtSpinEditDecrementImage_HBMTheme,
.dxEditors_edtSpinEditDecrementImageDisabled_HBMTheme,
.dxEditors_edtSpinEditLargeIncImage_HBMTheme,
.dxEditors_edtSpinEditLargeIncImageDisabled_HBMTheme,
.dxEditors_edtSpinEditLargeDecImage_HBMTheme,
.dxEditors_edtSpinEditLargeDecImageDisabled_HBMTheme
{
	display:block;
	margin:auto;
}

.dxEditors_edtError_HBMTheme {
    background-position: -170px 0px;
    width: 14px;
    height: 14px;
}

.dxEditors_edtCalendarPrevYear_HBMTheme {
    background-position: -76px 0px;
    width: 11px;
    height: 12px;
}

.dxEditors_edtCalendarPrevYearDisabled_HBMTheme {
    background-position: -76px -20px;
    width: 11px;
    height: 12px;
}

.dxEditors_edtCalendarPrevMonth_HBMTheme {
    background-position: -57px 0px;
    width: 11px;
    height: 12px;
}

.dxEditors_edtCalendarPrevMonthDisabled_HBMTheme {
    background-position: -57px -20px;
    width: 11px;
    height: 12px;
}

.dxEditors_edtCalendarNextMonth_HBMTheme {
    background-position: -19px 0px;
    width: 11px;
    height: 12px;
}

.dxEditors_edtCalendarNextMonthDisabled_HBMTheme {
    background-position: -19px -20px;
    width: 11px;
    height: 12px;
}

.dxEditors_edtCalendarNextYear_HBMTheme {
    background-position: -38px 0px;
    width: 11px;
    height: 12px;
}

.dxEditors_edtCalendarNextYearDisabled_HBMTheme {
    background-position: -38px -20px;
    width: 11px;
    height: 12px;
}

.dxEditors_edtCalendarFNPrevYear_HBMTheme {
    background-position: 0px 0px;
    width: 11px;
    height: 12px;
}

.dxEditors_edtCalendarFNNextYear_HBMTheme {
    background-position: 0px -20px;
    width: 11px;
    height: 12px;
}

.dxEditors_edtEllipsis_HBMTheme {
    background-position: -113px 0px;
    width: 11px;
    height: 14px;
}

.dxEditors_edtEllipsisDisabled_HBMTheme {
    background-position: -113px -22px;
    width: 11px;
    height: 14px;
}

.dxEditors_edtDropDown_HBMTheme {
    background-position: -95px 0px;
    width: 10px;
    height: 14px;
}

.dxEditors_edtDropDownDisabled_HBMTheme {
    background-position: -95px -22px;
    width: 10px;
    height: 14px;
}

.dxEditors_edtSpinEditIncrementImage_HBMTheme {
    background-position: -150px 0px;
    width: 10px;
    height: 5px;
}

.dxEditors_edtSpinEditIncrementImageDisabled_HBMTheme {
    background-position: -150px -13px;
    width: 10px;
    height: 5px;
}

.dxEditors_edtSpinEditDecrementImage_HBMTheme {
    background-position: -132px 0px;
    width: 10px;
    height: 5px;
}

.dxEditors_edtSpinEditDecrementImageDisabled_HBMTheme {
    background-position: -132px -13px;
    width: 10px;
    height: 5px;
}

.dxEditors_edtSpinEditLargeIncImage_HBMTheme {
    background-position: -145px -26px;
    width: 5px;
    height: 7px;
}

.dxEditors_edtSpinEditLargeIncImageDisabled_HBMTheme {
    background-position: -171px -26px;
    width: 5px;
    height: 7px;
}

.dxEditors_edtSpinEditLargeDecImage_HBMTheme {
    background-position: -132px -26px;
    width: 5px;
    height: 7px;
}

.dxEditors_edtSpinEditLargeDecImageDisabled_HBMTheme {
    background-position: -158px -26px;
    width: 5px;
    height: 7px;
}

.dxEditors_fcadd_HBMTheme {
    background-position: 0px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcaddhot_HBMTheme {
    background-position: -21px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcremove_HBMTheme {
    background-position: -42px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcremovehot_HBMTheme {
    background-position: -63px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupaddcondition_HBMTheme {
    background-position: -168px -46px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupaddgroup_HBMTheme {
    background-position: -147px -46px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupremove_HBMTheme {
    background-position: -126px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopany_HBMTheme {
    background-position: 0px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopbegin_HBMTheme {
    background-position: -42px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopbetween_HBMTheme {
    background-position: -84px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopcontain_HBMTheme {
    background-position: -105px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotcontain_HBMTheme {
    background-position: -147px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotequal_HBMTheme {
    background-position: -168px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopend_HBMTheme {
    background-position: -63px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopequal_HBMTheme {
    background-position: 0px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopgreater_HBMTheme {
    background-position: -21px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopgreaterorequal_HBMTheme {
    background-position: -42px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotblank_HBMTheme {
    background-position: -105px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopblank_HBMTheme {
    background-position: -126px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopless_HBMTheme {
    background-position: -63px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcoplessorequal_HBMTheme {
    background-position: -84px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcoplike_HBMTheme {
    background-position: -126px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotany_HBMTheme {
    background-position: -21px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotbetween_HBMTheme {
    background-position: -147px -88px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcopnotlike_HBMTheme {
    background-position: -168px -109px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupand_HBMTheme {
    background-position: -84px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupor_HBMTheme {
    background-position: -168px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupnotand_HBMTheme {
    background-position: -105px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_fcgroupnotor_HBMTheme {
    background-position: -147px -67px;
    width: 13px;
    height: 13px;
}

.dxEditors_caRefresh_HBMTheme {	
	background-position: 0px -130px;
	width: 13px;
	height: 13px;
}

.dxEditors_edtDETSClockFace_HBMTheme {
    background-position: -4px -172px;
    width: 109px;
    height: 109px;
}
.dxEditors_edtDETSHourHand_HBMTheme {
    background-position: -127px -172px;
    width: 7px;
    height: 63px;
}
.dxEditors_edtDETSMinuteHand_HBMTheme {
    background-position: -120px -172px;
    width: 7px;
    height: 63px;
}
.dxEditors_edtDETSSecondHand_HBMTheme {
    background-position: -115px -172px;
    width: 5px;
    height: 77px;
}
